// Ignore Bootstrap code block background colors;
// highlight.js takes care of this
pre
  padding: 0
// Allow code blocks to scroll
pre
  overflow-x: auto
  code
    overflow-wrap: normal
    white-space: pre
// Line numbering
pre .line-number
  float: left
  text-align: right
  background-color: #373b41
  color: #969896
// Line number spacing
pre .line-number span
  margin-left: 10px
  display: block
pre .line-number, code.hljs
  padding: 20px 10px 20px 15px
code.hljs
  padding-left: 10px

.guide-img, .guide-video
  border: 1px solid rgba(0, 0, 0, 0.1)
  border-radius: 4px
  margin-left: auto
  margin-right: auto

// Scale images and videos to full page width
.guide-video
  width: 100%
  height: auto
.guide-img
  max-width: 100%
  max-height: auto
.guide-tile
  max-width: 50%
  max-height: auto
.guide-img-holder
  width: 100%
  margin-top: 20px
  margin-bottom: 20px
  text-align: center

// Tiles should be two-and-two and square, with an overlay of words and blur on hover
.guide-tile-holder
  display: inline-block
  vertical-align: top
  width: 350px
  height: 350px
  padding: 7px

$bg: rgba(0, 0, 0, 1)  // (R, G, B, Opacity)
.bg, .overlay
  text-align: center
img, .overlay
  transition: .2s all
.bg
  //float: left
  position: relative
  .overlay
    position: absolute
    top: 6px
    left: 6px
    right: 0
    bottom: 0
    background: $bg
    opacity: 0  // Opacity (transparency) for overlaid words
    padding: 10px
    width: 96%
    height: 96%
    h2
      margin-top: 45%
      font-family: 'Droid Serif', sans-serif
      text-align: center
      color: whitesmoke
  &:hover
    .overlay
      opacity: 0.75  // Opacity for black background; darkens image
      background-color: black
      border-radius: 4px
    img
      -webkit-filter: blur(2px)
      -moz-filter: blur(2px)
      -ms-filter: blur(2px)
      -o-filter: blur(2px)
      filter: blur(2px)

.title
  margin-top: 0

.hr
  display: block
  margin-top: 0.5em
  margin-bottom: 0.5em
  margin-left: auto
  margin-right: auto
  border-style: inset
  border-width: 1px

.part
  margin: -10px
  margin-left: -40px
  font-size: 1.1em
  span
    position: relative
    display: inline
    float: right
    white-space: nowrap
  span.kind-of-spaced
    float: left
    margin-left: 40px
  span.really-spaced
    margin-right: 100px
  span.back-spaced
    margin-right: -90px
  i
    position: relative
    display: inline
    vertical-align: middle
    margin-top: -7px
    float: right
    padding: 7px
    border-radius: 2px
    border: 2px solid lightgrey
  li
    margin-left: 10px
    border-top: 1px solid lightgrey
    background-color: white
    list-style-type: none
    padding-top: 15px
    padding-bottom: 35px
    &:hover
      background-color: #f4f4f4

.buy-bean-banner
  background-color: #00adee
  padding-bottom: 34px
  //padding-top: -30px
  margin-bottom: 50px
  margin-right: 360px
  span
    font-size: 1.2em
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100
    color: white
    display: inline-block
    position: absolute
    margin-left: 10px
    margin-top: 5px

.btn-pos
  background-color: #00adee
  -moz-border-radius: 20px
  -webkit-border-radius: 20px
  border-radius: 10px
  border: 1px solid #2ac0fc
  display: inline-block
  cursor: pointer
  color: #ffffff
  font-family: Arial
  font-size: 17px
  padding: 7px 40px
  margin-top: -120px
  margin-left: 20px
  text-decoration: none
  text-shadow: 0px 1px 0px #2f6627
  float: center

.extra-right
  margin-left: 40px

.extra-left
  margin-right: 23px

span.between-bean
  font-weight: 600

div.line
  border-top: 1px solid lightgrey

img.bean
  position: relative
  width: 110px
  padding-bottom: 50px
  padding-right: 10px
  padding-left: 10px
  margin-left: 20px
  margin-top: 20px
img.bean-logo
  position: absolute
  width: 170px
  margin-top: 20px
  margin-left: 20px
img.bean-plus
  position: relative
  width: 125px
  padding-bottom: 50px
  padding-left: 10px
  padding-right: 10px
  margin-left: 0px
  margin-top: 20px
img.bean-plus-logo
  position: absolute
  width: 180px
  margin-top: 20px
  margin-left: 20px

.drop-shadow
  -webkit-filter: drop-shadow(-3px 3px 3px rgba(0,0,0,.5))
  -moz-filter: drop-shadow(-3px 3px 3px rgba(0,0,0,.5))
  -ms-filter: drop-shadow(-3px 3px 3px rgba(0,0,0,.5))
  -o-filter: drop-shadow(-3px 3px 3px rgba(0,0,0,.5))
  filter: drop-shadow(-3px 3px 3px rgba(0,0,0,.5))
