<div class="buy-bean-banner">
    <img class="bean-plus drop-shadow" src="{{relativeRoot}}_assets/images/generic/bean-plus.png" alt="LightBlue Bean+">
    <img class="bean drop-shadow" src="{{relativeRoot}}_assets/images/generic/bean.png" alt="LightBlue Bean">
    <span><i>This project requires the Bean or Bean+</i></span>
    <a href="https://store.punchthrough.com/collections/bean-family" class="beanButton" target="_blank">Buy Now</a>
</div>

