<div class="bean-part">
    <img class="bean" src="{{relativeRoot}}_assets/images/generic/bean.png" alt="LightBlue Bean">
    <img class="bean-logo" src="{{relativeRoot}}_assets/images/generic/bean-logo.png" alt="LightBlue Bean">
    <a href="https://store.punchthrough.com/collections/bean-family/products/bean" target="_blank" onclick="ga('send', 'event', 'bean-vs-beanplus', 'buy-now', '/bean');" class="btn btn-primary btn-lg btn-part-pos">Buy Now</a>
</div>
