<div class="buy-bean-banner">
    <span>This project uses the Bean or the Bean+</span>
</div>
<img class="bean-logo" src="{{relativeRoot}}_assets/images/generic/bean-logo.png" alt="LightBlue Bean">
<a href="https://store.punchthrough.com/collections/bean-family/products/bean" target="_blank" onclick="ga('send', 'event', 'bean-vs-beanplus', 'buy-now', '/bean');" class="btn btn-primary btn-lg extra-right btn-pos">Buy Now</a>
<img class="bean" src="{{relativeRoot}}_assets/images/generic/bean.png" alt="LightBlue Bean">

<img class="bean-plus" src="{{relativeRoot}}_assets/images/generic/bean-plus.png" alt="LightBlue Bean+">
<img class="bean-plus-logo" src="{{relativeRoot}}_assets/images/generic/bean-plus-logo.png" alt="LightBlue Bean+">
<a href="https://store.punchthrough.com/collections/bean-family/products/lightblue-bean-plus" onclick="ga('send', 'event', 'bean-vs-beanplus', 'buy-now', '/bean');" class="btn btn-primary btn-lg btn-pos">Buy Now</a>
