<div class="buy-bean-banner">
    <span>This project uses the Bean or the Bean+</span>
</div>
<img class="bean-plus drop-shadow" src="{{relativeRoot}}_assets/images/generic/bean-plus.png" alt="LightBlue Bean+">
<img class="bean-plus-logo drop-shadow" src="{{relativeRoot}}_assets/images/generic/bean-plus-logo.png" alt="LightBlue Bean+">
<a href="https://store.punchthrough.com/collections/bean-family/products/lightblue-bean-plus" class="beanButton" target="_blank">Buy Now</a>



<img class="bean drop-shadow" src="{{relativeRoot}}_assets/images/generic/bean.png" alt="LightBlue Bean">
<img class="bean-logo drop-shadow" src="{{relativeRoot}}_assets/images/generic/bean-logo.png" alt="LightBlue Bean">
<a href="https://store.punchthrough.com/collections/bean-family/products/bean" class="beanButton" target="_blank">Buy Now</a>
