<div class="bean-part">
    <img class="bean-plus" src="{{relativeRoot}}_assets/images/generic/bean-plus.png" alt="LightBlue Bean+">
    <img class="bean-plus-logo" src="{{relativeRoot}}_assets/images/generic/bean-plus-logo.svg
" alt="LightBlue Bean+">
    <a href="https://store.punchthrough.com/collections/bean-family/products/lightblue-bean-plus" target="_blank" onclick="ga('send', 'event', 'beanplus-from-project-guide', 'buy-now', '/bean');" class="btn btn-primary btn-lg btn-part-pos">Buy Now</a>
</div>
