<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/assets/vendor/punchthrough/homepage.css">
  <!-- Already included in PTD site CSS
    <link rel="stylesheet" href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css">
  -->
  <link rel="stylesheet" href="/assets/styles/base.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <div class="site-index">
          {{> site_index}}
        </div>
      </div>
      <div class="col-xs-8">
        <h1 class="title">{{ title }}</h1>
        <div class="toc">
          {{> toc}}
        </div>
        {{{contents}}}
      </div>
    </div>
  </div>
</body>
</html>
