body
  padding-top: 80px
  padding-bottom: 80px
  background: white

.guide-img, .guide-video
  border: 1px solid rgba(0, 0, 0, 0.1)
  border-radius: 4px
  margin-left: auto
  margin-right: auto

// Scale images and videos to full page width
.guide-video
  width: 100%
  height: auto
.guide-img
  max-width: 100%
  max-height: auto
.guide-img-holder
  width: 100%
  margin-top: 20px
  margin-bottom: 20px
  text-align: center

.title
  margin-top: 0
